credentials.json
.vscode
REPORT_SEGMENTI*
er_*
*venv
__pycache__
*.py[cod]
*.pyo
*.pyd
*.db
*.exe
*.sqlite3
*.npy
*.log
*.csv
*.json
*.parquet
*.xlsx
*.xlsm
*.xlsb
*.xls
*.ods
.env
data/*
*.xml
*.pickle